*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgb(0, 255, 179), rgb(0, 132, 255));
}

.container {
    background-color: white;
    width: 1200px;
    height: 100vh;
    box-shadow: 0 8px 15px 1px gray;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1000px;
}

:root {
    --red: #99210F;
    --HeaderFont: 'Roboto', sans-serif;
}