.container--hero {
    top: 50px;
    left: 50%;
    margin-left: -600px;
    position: absolute;
}

.hero__image {
    width: 1200px;
    height: 424px;
    background: url("/images/school-img.png");
}

.hero__text {
    color: white;
    font-family: var(--HeaderFont);
    font-size: 60px;
    margin-top: 0;
    padding: 20px;
}