.nav {
    display: block;
    width: 200px;
    background-color: white;
    border: 3px solid gray;
    height: 400px;
}

.nav__title {
    padding-left: 20px;
}

.nav__list {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.nav__list-link {
    font-size: 25px;
    font-weight: 700;
    color: black;
    font-family: var(--HeaderFont);
    text-decoration: none;
    cursor: pointer;
}

.nav__list-link:hover {
    text-decoration: underline;
}